    * 
    {
        box-sizing: border-box;
    }
    body
    {
        font-family: Arial, Arial, Arial, Arial;
    }
    header
    {
        background-color: blue;
        padding: 1px;
        text-align: center;
        font-size: 15px;
        color: white;
    }
    nav
    {
        float: left;
        width: 25%;
        height: 300px;
        background: white;
        padding: 40px;
    }
    article
    {
        float: left;
        padding: 20px;
        width: 75%;
        background-color: white;
        height: 300px; 
    }
    div 
    {
        background-color: lightgrey;
        border: 15px solid yellowgreen;
        text-align: center;
        padding: 10px;
        margin: 20px;
    }
    .btnku
    {
        background-color: purple;
        font-size: 20px;
        text-align: center;
    }